In [1]:
import json
import numpy as np
import pandas as pd
import csv
from collections import Counter
from sklearn.preprocessing import StandardScaler

# open json file from yelp platform

In [2]:
f = open("yelp_academic_dataset_business.json","r")

In [3]:
with open('yelp_academic_dataset_business.json') as f:
    res_lst = [json.loads(line) for line in f]

In [4]:
res_lst[:1]

[{'business_id': '6iYb2HFDywm3zjuRg0shjw',
  'name': 'Oskar Blues Taproom',
  'address': '921 Pearl St',
  'city': 'Boulder',
  'state': 'CO',
  'postal_code': '80302',
  'latitude': 40.0175444,
  'longitude': -105.2833481,
  'stars': 4.0,
  'review_count': 86,
  'is_open': 1,
  'attributes': {'RestaurantsTableService': 'True',
   'WiFi': "u'free'",
   'BikeParking': 'True',
   'BusinessParking': "{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}",
   'BusinessAcceptsCreditCards': 'True',
   'RestaurantsReservations': 'False',
   'WheelchairAccessible': 'True',
   'Caters': 'True',
   'OutdoorSeating': 'True',
   'RestaurantsGoodForGroups': 'True',
   'HappyHour': 'True',
   'BusinessAcceptsBitcoin': 'False',
   'RestaurantsPriceRange2': '2',
   'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}",
   'HasTV': 'True',
   'Alcohol': "'beer_and_wine'",
   'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}",
   'DogsAllowed': 'False',
   'RestaurantsTakeOut': 'True',
   'NoiseLevel': "u'average'",
   'RestaurantsAttire': "'casual'",
   'RestaurantsDelivery': 'None'},
  'categories': 'Gastropubs, Food, Beer Gardens, Restaurants, Bars, American (Traditional), Beer Bar, Nightlife, Breweries',
  'hours': {'Monday': '11:0-23:0',
   'Tuesday': '11:0-23:0',
   'Wednesday': '11:0-23:0',
   'Thursday': '11:0-23:0',
   'Friday': '11:0-23:0',
   'Saturday': '11:0-23:0',
   'Sunday': '11:0-23:0'}}]

In [5]:
#all restaurants in Austin
austin_lst = []
for res in res_lst:
    if res["city"] == "Austin":
        austin_lst.append(res)

In [6]:
len(austin_lst)

22416

In [7]:
#only restaurants in Austin
only_res = []
for res in austin_lst:
    for key, value in res.items():
        if key == "categories":
            if value is not None:
                if "Restaurants" in value:
                    only_res.append(res)

In [8]:
len(only_res)

4957

In [9]:
only_res[3]

{'business_id': 'z-0oY7VxQMQw3JHvdPejrA',
 'name': 'Olmecas Mexican Restaurant',
 'address': '2121 E Oltorf St',
 'city': 'Austin',
 'state': 'TX',
 'postal_code': '78741',
 'latitude': 30.230016,
 'longitude': -97.7326393,
 'stars': 3.0,
 'review_count': 21,
 'is_open': 0,
 'attributes': {'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}",
  'RestaurantsAttire': "'casual'",
  'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
  'BYOBCorkage': "'no'",
  'WiFi': "'no'",
  'RestaurantsTakeOut': 'True',
  'OutdoorSeating': 'False',
  'BusinessAcceptsCreditCards': 'True',
  'Alcohol': "u'full_bar'",
  'RestaurantsPriceRange2': '1',
  'NoiseLevel': "u'quiet'",
  'HasTV': 'True',
  'RestaurantsGoodForGroups': 'True',
  'RestaurantsReservations': 'False',
  'GoodForKids': 'True',
  'RestaurantsDelivery': 'False',
  'HappyHour': 'True',
  'BikeParking': 'True'},
 'categories': 'Coffee & Tea, Tex-Mex, Restaurants, Mexican, Food',
 'hours': {'Monday': '7:0-23:30',
  'Tuesday': '7:0-23:30',
  'Wednesday': '7:0-23:30',
  'Thursday': '7:0-23:30',
  'Friday': '7:0-23:30',
  'Saturday': '7:0-23:30',
  'Sunday': '7:0-23:30'}}

# Data cleaning for a cleaner dataset

In [10]:
final_result = []
for res in only_res:
    lst = []
    lst.append(res["business_id"])
    lst.append(res["name"])
    lst.append(res["address"])
    lst.append(res["city"])
    lst.append(res["postal_code"])
    lst.append(res["stars"])
    lst.append(res["review_count"])
    if res["categories"] is not None:
        string = res["categories"].lower()
        cate_lst = string.split(", ")
        lst.append(len(cate_lst))
        if "american" in cate_lst or "burger" in cate_lst or "pizza" in cate_lst or "sandwiches" in cate_lst or "salad" in cate_lst or "hot dog" in cate_lst or "chicken wings" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "fast food" in cate_lst or "food trucks" in cate_lst or "food stands" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "coffee & tea" in cate_lst or "cafe" in cate_lst or "desserts" in cate_lst or "bakeries" in cate_lst or "ice cream & frozen yogurt":
            lst.append(1)
        else:
            lst.append(0)
        if "chinese" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "mexican" in cate_lst or "tex-mex" in cate_lst or "tacos" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "japanese" in cate_lst or "sushi bars" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "italian" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "thai" in cate_lst or "vietnames" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "brunch" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
        if "bar" in cate_lst or "cocktail bars" in cate_lst or "beer" in cate_lst or "wine & spirits" in cate_lst:
            lst.append(1)
        else:
            lst.append(0)
    
    if res["attributes"] is not None:
        if "RestaurantsPriceRange2" in res["attributes"].keys():
            lst.append(res["attributes"]["RestaurantsPriceRange2"])
        else:
            lst.append(None)
        if "RestaurantsDelivery" in res["attributes"].keys():
            if res["attributes"]["RestaurantsDelivery"] == "True":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        if "OutdoorSeating" in res["attributes"].keys():
            if res["attributes"]["OutdoorSeating"] == "True":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        if "RestaurantsTakeOut" in res["attributes"].keys():
            if res["attributes"]["RestaurantsTakeOut"] == "True":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        if "RestaurantsReservations" in res["attributes"].keys():
            if res["attributes"]["RestaurantsReservations"] == "True":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        if "WiFi" in res["attributes"].keys():
            if res["attributes"]["WiFi"] == "Yes":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        if "BikeParking" in res["attributes"].keys():
            if res["attributes"]["BikeParking"] == "True":
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
        
        if "BusinessParking" in res["attributes"].keys():
            if "True" in res["attributes"]["BusinessParking"]:
                lst.append(1)
            else:
                lst.append(0)
        else:
            lst.append(0)
    else:
        for i in range(8):
            lst.append(0)
            
    final_result.append(lst)

In [11]:
final_result[:1]

[['Xw8tuI30T-xihpzwBV-zJg',
  'El Pollo Rey',
  '1725 E Riverside Dr',
  'Austin',
  '78741',
  5.0,
  11,
  6,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  '1',
  0,
  1,
  1,
  0,
  0,
  1,
  0]]

# use data from the population density scraping

In [12]:
df_population = pd.read_csv("date_update.csv")
density_dict = {}
for index, row in df_population.iterrows():
    density_dict[row["Zip Code"]] = row["People / Sq. Mile"]

In [13]:
df_population[:5]

,#,Zip Code,Location,City,Population,People / Sq. Mile,National Rank
0,1.0,78705,"30.293474, -97.738268","Austin, Texas","26,825","11,008.66",#519
1,2.0,78751,"30.310819, -97.722821","Austin, Texas","14,005","5,822.28","#1,374"
2,3.0,78752,"30.331288, -97.704660","Austin, Texas","18,030","5,435.92","#1,528"
3,4.0,78741,"30.229845, -97.715136","Austin, Texas","40,661","5,346.47","#1,562"
4,5.0,78723,"30.305341, -97.683344","Austin, Texas","30,110","5,175.95","#1,640"

In [14]:
#add desity to the final result
for sublist in final_result:
    for key in density_dict.keys():
        if str(key) == sublist[4]:
            sublist.append(density_dict[key])
for sublist in final_result:
    if len(sublist) != 27:
        sublist.append(None)

# use data from the attractions scraping

In [15]:
df_attractions = pd.read_csv("num_attractions.csv", header = None)

In [16]:
df_attractions.columns=["zipcode","attractions_number"]

In [17]:
df_attractions[:5]

   zipcode  attractions_number
0    78705                  17
1    78701                  70
2    78723                   9
3    78712                  13
4    78703                  24

In [18]:
attract_dict = {}
for index, row in df_attractions.iterrows():
    attract_dict[row[0]] = row[1]

In [19]:
#add attractions to the final result
for sublist in final_result:
    for key in attract_dict.keys():
        if str(key) == sublist[4]:
            sublist.append(attract_dict[key])
for sublist in final_result:
    if len(sublist) != 28:
        sublist.append(0)
final_result[:3]

[['Xw8tuI30T-xihpzwBV-zJg',
  'El Pollo Rey',
  '1725 E Riverside Dr',
  'Austin',
  '78741',
  5.0,
  11,
  6,
  0,
  1,
  1,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  '1',
  0,
  1,
  1,
  0,
  0,
  1,
  0,
  '5,346.47',
  2],
 ['NRPemqVb4qpWFF0Avq_6OQ',
  'Eurasia Sushi Bar & Seafood',
  '7101 W Hwy 71, Ste C-13',
  'Austin',
  '78735',
  4.5,
  395,
  6,
  0,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  1,
  '2',
  1,
  0,
  1,
  1,
  0,
  0,
  1,
  '474.14',
  1],
 ['bRsDZ44CD3uhGnRY3NeQhQ',
  "Wendy's",
  '6247 Mcneil Drive',
  'Austin',
  '78729',
  2.0,
  46,
  3,
  0,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  '1',
  1,
  0,
  1,
  0,
  0,
  1,
  1,
  '2,366.94',
  0]]

In [20]:
#store the dataset into the csv file
with open("regression.csv", 'w') as f:  
    writer = csv.writer(f)
    for sublist in final_result:
        writer.writerow(sublist)

In [21]:
df_regression = pd.read_csv("regression.csv", header = None)

In [22]:
df_regression.columns = ["business_id","name","address","city","postal_code","stars","review_count",
                         "category_number", "american","fast food","coffee & tea","chinese",
                         "mexican","japanese","italian","thai","brunch","bar","price_range",
                         "RestaurantsDelivery","OutdoorSeating","RestaurantsTakeOut","RestaurantsReservations",
                         "WiFi","BikeParking","BusinessParking","density","attractions"]

In [23]:
df_regression.describe().iloc[:,6:]

,coffee & tea,chinese,mexican,japanese,italian,thai,brunch,bar,RestaurantsDelivery,OutdoorSeating,RestaurantsTakeOut,RestaurantsReservations,WiFi,BikeParking,BusinessParking,attractions
count,4957.0,4957.000000,4957.000000,4957.00000,4957.000000,4957.000000,4957.0,4957.000000,4957.000000,4957.000000,4957.000000,4957.000000,4957.0,4957.000000,4957.000000,4957.000000
mean,1.0,0.046601,0.198911,0.04539,0.046197,0.025620,0.0,0.060319,0.469841,0.530361,0.865241,0.226750,0.0,0.576760,0.765181,20.670769
std,0.0,0.210803,0.399221,0.20818,0.209933,0.158016,0.0,0.238100,0.499140,0.499128,0.341500,0.418772,0.0,0.494123,0.423929,23.033824
min,1.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,1.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,1.000000,4.000000
50%,1.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,1.000000,0.000000,0.0,1.000000,1.000000,10.000000
75%,1.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,1.000000,0.000000,0.0,1.000000,1.000000,26.000000
max,1.0,1.000000,1.000000,1.00000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,70.000000

In [24]:
##graphing features
from bokeh.plotting import figure
from bokeh.io import show
def ploting_star_all_restaurant():
    star_type = []
    star_count = []
    for key, value in dict(df_regression.stars.value_counts()).items():
        star_type.append(key)
        star_count.append(value)
    plot_star = figure(title="Rating distribution of restaurants in Austin",
                       x_axis_label='Ratings',
                       y_axis_label='Frequency')
    plot_star.vbar(x=star_type, top=star_count, width=0.5, fill_color='pink', line_color='pink')
    plot_star.grid.visible = False
    show(plot_star)

In [25]:
ploting_star_all_restaurant()

In [26]:
def ploting_star_each_category(rest_type):
    star_type = []
    star_count = []
    for key, value in dict(df_regression[df_regression[rest_type]==1].stars.value_counts()).items():
        star_type.append(key)
        star_count.append(value)
    plot_star = figure(title="Rating distribution of {} restaurants in Austin".format(rest_type),
                       x_axis_label='Ratings',
                       y_axis_label='Frequency')
    plot_star.vbar(x=star_type, top=star_count, width=0.5, fill_color='pink', line_color='pink')
    plot_star.grid.visible = False
    show(plot_star)

In [27]:
##plotting american restaurants
ploting_star_each_category("american")

In [30]:
from math import pi
import pandas as pd
from bokeh.palettes import Category20c
from bokeh.plotting import figure, show
from bokeh.transform import cumsum
x = dict(df_regression.price_range.value_counts())
data = pd.Series(x).reset_index(name='value').rename(columns={'index': 'price_level'})
data['angle'] = data['value']/data['value'].sum() * 2*pi
data['color'] = Category20c[len(x)]
p = figure(height=350, title="Pie Chart", toolbar_location=None,
           tools="hover", tooltips="@price_level: @value", x_range=(-0.5, 1.0))
p.wedge(x=0, y=1, radius=0.4,
        start_angle=cumsum('angle', include_zero=True), end_angle=cumsum('angle'),
        line_color="white", fill_color='color', legend_field='price_level', source=data)
p.axis.axis_label = None
p.axis.visible = False
p.grid.grid_line_color = None
show(p)

In [31]:
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler

In [32]:
df_clean = df_regression.replace(to_replace = "None", value = np.nan).dropna()

In [33]:
df_clean = df_clean.reset_index()

In [34]:
df_clean.describe().iloc[:,4:]

,category_number,american,fast food,coffee & tea,chinese,mexican,japanese,italian,thai,brunch,bar,RestaurantsDelivery,OutdoorSeating,RestaurantsTakeOut,RestaurantsReservations,WiFi,BikeParking,BusinessParking,attractions
count,4266.000000,4266.000000,4266.000000,4266.0,4266.000000,4266.000000,4266.000000,4266.000000,4266.000000,4266.0,4266.000000,4266.000000,4266.000000,4266.000000,4266.000000,4266.0,4266.000000,4266.000000,4266.000000
mean,4.988983,0.248008,0.251524,1.0,0.048054,0.200891,0.045945,0.048992,0.027895,0.0,0.061181,0.471167,0.546414,0.889358,0.242382,0.0,0.612752,0.814112,20.951477
std,2.527063,0.431907,0.433940,0.0,0.213906,0.400713,0.209390,0.215877,0.164691,0.0,0.239691,0.499227,0.497899,0.313725,0.428574,0.0,0.487178,0.389062,23.035082
min,1.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,3.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,1.000000,4.000000
50%,5.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,1.000000,0.000000,0.0,1.000000,1.000000,10.000000
75%,6.000000,0.000000,1.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,1.000000,0.000000,0.0,1.000000,1.000000,26.000000
max,27.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,70.000000

In [35]:
density_clean = []
for index, row in df_clean.iterrows():
    density_clean.append(float(row["density"].replace(",",""))) 
for index, row in df_clean.iterrows():
    df_clean.loc[index,"density_clean"] = density_clean[index]

In [36]:
for index, row in df_clean.iterrows():
    df_clean.loc[index,"density_clean"] = density_clean[index]

In [37]:
df_clean['price_range'] = df_clean['price_range'].astype(float)

In [38]:
X = df_clean[["review_count","category_number", "american","fast food","coffee & tea","chinese",
                    "mexican","japanese","italian","thai","brunch","bar","price_range",
                    "RestaurantsDelivery","OutdoorSeating","RestaurantsTakeOut","RestaurantsReservations",
                    "WiFi","BikeParking","BusinessParking","density_clean","attractions"]]
y = df_clean["stars"]
scaler = StandardScaler()
X = scaler.fit_transform(X)
y = y[np.newaxis,:]
X = sm.add_constant(X)
model = sm.OLS(y.flatten(), X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.121
Model:                            OLS   Adj. R-squared:                  0.117
Method:                 Least Squares   F-statistic:                     30.63
Date:                Sat, 12 Mar 2022   Prob (F-statistic):          9.50e-104
Time:                        21:58:12   Log-Likelihood:                -4544.7
No. Observations:                4266   AIC:                             9129.
Df Residuals:                    4246   BIC:                             9256.
Df Model:                          19
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.6204      0.011    335.983      0.000       3.599       3.641
x1             0.0744      0.012      6.217      0.000       0.051       0.098
x2             0.1187      0.013      9.226      0.000       0.093       0.144
x3            -0.0828      0.012     -7.030      0.000      -0.106      -0.060
x4            -0.0041      0.012     -0.344      0.731      -0.028       0.019
x5          9.713e-18   4.74e-18      2.047      0.041    4.11e-19     1.9e-17
x6            -0.0376      0.011     -3.319      0.001      -0.060      -0.015
x7             0.0029      0.011      0.252      0.801      -0.019       0.025
x8             0.0203      0.011      1.818      0.069      -0.002       0.042
x9             0.0045      0.011      0.401      0.688      -0.018       0.027
x10            0.0079      0.011      0.727      0.467      -0.013       0.029
x11         1.991e-17   4.86e-18      4.095      0.000    1.04e-17    2.94e-17
x12           -0.0223      0.012     -1.813      0.070      -0.046       0.002
x13           -0.0157      0.013     -1.178      0.239      -0.042       0.010
x14           -0.0894      0.012     -7.765      0.000      -0.112      -0.067
x15            0.0607      0.012      5.243      0.000       0.038       0.083
x16           -0.0216      0.012     -1.876      0.061      -0.044       0.001
x17           -0.0047      0.013     -0.370      0.712      -0.029       0.020
x18         7.128e-18    2.8e-18      2.545      0.011    1.64e-18    1.26e-17
x19            0.0746      0.012      6.261      0.000       0.051       0.098
x20            0.0370      0.012      3.155      0.002       0.014       0.060
x21            0.0435      0.011      3.970      0.000       0.022       0.065
x22            0.0439      0.011      3.913      0.000       0.022       0.066
==============================================================================
Omnibus:                      147.143   Durbin-Watson:                   1.987
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              161.822
Skew:                          -0.471   Prob(JB):                     7.26e-36
Kurtosis:                       3.147   Cond. No.                     5.33e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.74e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

<ipython-input-38-626e6ed944fb>:8: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  y = y[np.newaxis,:]

# create an interacractive programming tool

In [39]:
features = ["category_number", "american","fast food","coffee & tea","chinese",
                    "mexican","japanese","italian","thai","brunch","bar","price_range",
                    "RestaurantsDelivery","OutdoorSeating","RestaurantsTakeOut","RestaurantsReservations",
                    "WiFi","BikeParking","BusinessParking"]

In [40]:
def get_varible():
    density_avg = 3995.22
    attractions_avg = 20.95
    review_count_avg = 157.6
    variable = []
    variable.append(review_count_avg)
    for feature in features:
        fea = input("please input value for {}: ".format(feature))
        variable.append(int(fea))
    check = input("Do you have a preferred neighborhood? True or False?")
    if check != "True":
        variable.append(density_avg)
        variable.append(attractions_avg)
    else:
        zipcode = input("Where do you prefer?")
        if int(zipcode) in density_dict.keys():
            variable.append(float(density_dict[int(zipcode)].replace(",","")))
        else:
            variable.append(density_avg)
        if int(zipcode) in attract_dict.keys():
            variable.append(attract_dict[int(zipcode)])
        else:
            variable.append(attractions_avg)
    return variable

In [41]:
def get_predict_rating():
    variables_lst = get_varible()
    X_variable = np.array(variables_lst)[np.newaxis,:]
    X_trans = scaler.transform(X_variable)
    X_trans = np.insert(X_trans,0,[1])
    pred_rate = model.predict(X_trans)
    return print("The possible rating is: {}".format(pred_rate[0]))

In [481]:
get_predict_rating()

please input value for category_number: 5
please input value for american: 1
please input value for fast food: 1
please input value for coffee & tea: 1
please input value for chinese: 0
please input value for mexican: 0
please input value for japanese: 0
please input value for italian: 0
please input value for thai: 0
please input value for brunch: 1
please input value for bar: 0
please input value for price_range: 2
please input value for RestaurantsDelivery: 1
please input value for OutdoorSeating: 1
please input value for RestaurantsTakeOut: 1
please input value for RestaurantsReservations: 0
please input value for WiFi: 1
please input value for BikeParking: 1
please input value for BusinessParking: 1
Do you have a preferred neighborhood? True or False?True
Where do you prefer?78756
The possible rating is: 3.475818195204015

In [ ]:
get_predict_rating()

#